// module.exports = {
//   env: {
//     browser: true,
//     es2021: true
//   },
//   extends: 'standard',
//   overrides: [
//   ],
//   parserOptions: {
//     ecmaVersion: 'latest',
//     sourceType: 'module'
//   },
//   rules: {
//   }
// }
{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "parser": "babel-eslint"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["eslint:recommended"]
}
